<template>
  <div class="">
    <HomeButton />
    <div class="container cover">
      <div class="row">
        <div class="col-md-12">
          <div class="signup-content px-md-5 container">
            <div class="row">
              <div class="col-md-12">
                <div class="signup-form form-el">
                  <h2 class="form-title text-center text-md-left">
                    Update Data
                  </h2>
                </div>
              </div>
            </div>
            <form @submit.prevent="updateEmployee()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-el">
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="c-label" for="first_name"
                            ><i class="bi bi-person"></i
                          ></label>
                          <input
                            type="text"
                            name="first_name"
                            id="first_name"
                            v-model="first_name"
                            placeholder="First name"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="c-label" for="last_name"
                            ><i class="bi bi-person"></i
                          ></label>
                          <input
                            type="text"
                            name="last_name"
                            id="last_name"
                            v-model="last_name"
                            placeholder="Last name"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row mb-3">
                      <div class="col">
                        <div class="form-check c-radio form-check-inline">
                          <input
                            class="form-check-input c-radio"
                            type="radio"
                            name="gender"
                            id="genderRadioMale"
                            value="M"
                            v-model="gender"
                            checked
                          />
                          <label class="form-check-label" for="genderRadioMale"
                            >Male</label
                          >
                        </div>
                        <div class="form-check c-radio form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gender"
                            id="genderRadioFemale"
                            value="F"
                            v-model="gender"
                          />
                          <label
                            class="form-check-label"
                            for="genderRadioFemale"
                            >Female</label
                          >
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label class="c-label" style="top: 73%" for="dob"
                            ><i class="bi bi-calendar-date"></i
                          ></label>
                          <small>Date of birth</small>
                          <input
                            v-model="date_of_birth.startDate"
                            type="date"
                            name="dob"
                            id="dob"
                            class="mt-2"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label class="c-label" for="department"
                            ><i class="bi bi-person"></i
                          ></label>
                          <input
                            type="text"
                            name="department"
                            id="department"
                            v-model="department"
                            placeholder="Department"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label class="c-label" for="position"
                            ><i class="bi bi-briefcase"></i
                          ></label>
                          <input
                            type="text"
                            name="position"
                            id="position"
                            v-model="position"
                            placeholder="Position"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label
                            class="c-label"
                            style="top: 73%"
                            for="date_employed"
                            ><i class="bi bi-calendar-date"></i
                          ></label>
                          <small>Employment date</small>
                          <input
                            v-model="date_employed.startDate"
                            type="date"
                            name="dob"
                            id="date_employed"
                            class="mt-2"
                            required
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="d-flex flex-column justify-content-end">
                    <div class="form-el d-md-flex">
                      <div class="form-row w-100">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="c-label" for="email"
                              ><i class="bi bi-envelope"></i
                            ></label>
                            <input
                              type="email"
                              name="email"
                              id="email"
                              class=""
                              v-model="email"
                              placeholder="Email"
                              required
                            />
                          </div>
                          <!-- <div class="form-group">
                            <label class="c-label" for="password"
                              ><i class="bi bi-lock"></i
                            ></label>
                            <input
                              type="password"
                              name="password"
                              id="password"
                              v-model="pswd"
                              placeholder="Password"
                              required
                            />
                          </div> -->
                          <div class="form-group form-button">
                            <button
                              type="submit"
                              name="signup"
                              id="signup"
                              class="btn btn-md btn-primary"
                            >
                              <div
                                class="spinner-border spinner-border-sm mr-2"
                                v-if="isLoadingUpdate"
                                role="status"
                              >
                                <span class="sr-only">Loading...</span>
                              </div>
                              Update
                            </button>
                            <button
                              type="button"
                              name="signup"
                              id="signup"
                              class="btn btn-md btn-outline-danger"
                              @click="deleteEmployee()"
                            >
                              <div
                                class="spinner-border spinner-border-sm mr-2"
                                v-if="isLoadingDelete"
                                role="status"
                              >
                                <span class="sr-only">Loading...</span>
                              </div>
                              Delete account
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ["auth-guard"],
  data() {
    return {
      id: this.$auth.user.id,
      first_name: this.$auth.user.first_name,
      last_name: this.$auth.user.last_name,
      gender: this.$auth.user.gender,
      department: this.$auth.user.department,
      position: this.$auth.user.position,
      email: this.$auth.user.email,
      pswd: "",
      date_of_birth: {
        rate: 0.0,
        surcharge: 0.0,
        startDate: this.$auth.user.date_of_birth,
        stopDate: null,
        enabled: true,
      },
      date_employed: {
        rate: 0.0,
        surcharge: 0.0,
        startDate: this.$auth.user.date_employed,
        stopDate: null,
        enabled: true,
      },
      isLoadingUpdate: false,
      isLoadingDelete: false,
    };
  },
  computed: {
    employeeData() {
      let now = new Date();
      return [
        {
          propName: "first_name",
          value: this.first_name,
        },
        {
          propName: "last_name",
          value: this.last_name,
        },
        {
          propName: "gender",
          value: this.gender,
        },
        {
          propName: "date_of_birth",
          value: this.date_of_birth.startDate,
        },
        {
          propName: "date_employed",
          value: this.date_employed.startDate,
        },
        {
          propName: "department",
          value: this.department,
        },
        {
          propName: "position",
          value: this.position,
        },
        {
          propName: "access.email",
          value: this.email,
        },
        {
          propName: "updatedAt",
          value: now.toLocaleDateString("en-US"),
        },
      ];
    },
  },
  methods: {
    async deleteEmployee() {
      this.isLoadingDelete = true;
      //   Delete employee and clear cookies and redirect to homepage
      await this.$axios
        .delete("/")
        .then((res) => {
          if (res.data.deletedCount != 0) {
            console.log(res.data.message);
            this.isLoadingDelete = false;
            this.$auth.logout("local");
          } else {
            this.isLoadingDelete = false;
            console.log(res.data.message);
          }
        })
        .catch((er) => {
          console.log(er);
          this.isLoadingDelete = false;
        });
    },

    async updateEmployee() {
      this.isLoadingUpdate = true;
      await this.$axios
        .patch(`/${this.id}`, this.employeeData)
        .then((res) => {
          console.log({ status: res.status, msg: res.statusText });
          this.$nuxt.refresh();
          this.isLoadingUpdate = false;
        })
        .catch((er) => {
          console.log(er);
          this.isLoadingUpdate = false;
        });
    },
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
</style>