<template>
  <div class="container mb-3">
    <div class="row">
      <div class="col-md-12">
        <NuxtLink to="/" class="home-button"
          ><i class="bi bi-arrow-left-circle-fill mr-2"></i> Home</NuxtLink
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.home-button {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}
</style>