<template>
  <div class="container-fluid bg-light position-relative" id="layout">
    <div class="row" style="min-height: 100vh">
      <div
        class="col-md-12 d-flex justify-content-center align-items-center"
        style="padding: 2rem"
      >
        <Nuxt />
      </div>
    </div>
    <!-- <small class="position-absolute" style="bottom: 10px"><i>Created by Mark Kofi Prah Amoah</i></small> -->
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="scss">
#layout {
  min-height: 100vh;
}
.cover {
  min-width: calc(100vw - 50px);
  max-width: 900px;
  padding: 0 36px;
  background: #ffffff;
  box-shadow: 0 15px 16.83px 0.17px rgb(0 0 0 / 5%);
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    min-width: 450px;
  }
}
.signup-content {
  padding: 75px 0;

  button.btn,
  input.btn {
    font-size: 14px;

    &.btn-lg {
      padding: 15px 39px;
    }
  }
  .form-el {
    .form-group {
      position: relative;
      margin-bottom: 25px;
      .c-label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #222;
      }
    }
    input {
      width: 100%;
      display: block;
      border: none;
      border-bottom: 1px solid #999;
      padding: 6px 30px;
      font-family: Poppins;
      box-sizing: border-box;
      &:focus {
        outline: none;
      }
    }
    .c-checkbox,
    .c-radio {
      display: inline-flex;
      align-items: center;

      input {
        padding: 0;
        border-bottom: none;
        width: auto;
        margin-right: 4px;
      }
      label {
        margin: 0;
        cursor: pointer;
      }
    }
    .form-title {
      line-height: 1.66;
      margin: 0;
      padding: 0;
      font-weight: 700;
      color: #222;
      font-family: Poppins;
      font-size: 36px;
      margin-bottom: 33px;
    }
  }

  .signup-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.signup-image-link,
a {
  color: #222;
}
</style>
