<template>
  <div class="position-relative text-center">
    <div class="d-flex flex-column align-items-center">
      <div v-if="!$auth.loggedIn">
        <h4 class="h2 m-0 font-weight-light">Welcome to my</h4>
        <h1 class="display-3 text-primary">Employee App</h1>
      </div>
      <div v-else>
        <h1 class="display-4 text-primary">Welcome {{$auth.user.first_name}}</h1> 
        <p class="lead">Click the button below to update your information</p>
        
      </div>
      <div class="d-flex flex-column w-50 mt-4">
        <div>
          <nuxt-link
            v-if="!$auth.loggedIn || $auth.user == null"
            to="/login"
            class="btn btn-primary rounded-pill mb-3 d-block"
          >
            Login
          </nuxt-link>
          <nuxt-link
            v-else
            to="/employee/update"
            class="btn btn-primary rounded-pill mb-3 d-block"
          >
            Edit employee info
          </nuxt-link>
        </div>
        <div>
          <nuxt-link
            v-if="!$auth.loggedIn"
            to="/register"
            class="btn btn-outline-primary rounded-pill d-block"
          >
            Register
          </nuxt-link>
          <button
            v-else
            @click="logout()"
            class="btn btn-outline-secondary rounded-pill w-100"
          >
            <div
              class="spinner-border spinner-border-sm mr-2"
              v-if="isLogoutUpdate"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLogoutUpdate: false,
    };
  },
  methods: {
    async logout() {
      this.isLogoutUpdate = true;
      try {
        await this.$auth.logout("local");
      } catch (err) {
        this.isLogoutUpdate = false;
      }
    },
  },
};
</script>

<style lang="scss">
</style>
