<template>
  <div>
    <HomeButton />
    <div class="container cover">
      <div class="row">
        <div class="col-md-12">
          <div class="signup-content px-md-3 container">
            <div class="row">
              <div class="col-md-6">
                <div class="signup-form form-el">
                  <h2 class="form-title text-center text-md-left">Login</h2>
                </div>
              </div>
            </div>
            <form @submit.prevent="employeeLogin()">
              <div class="row">
                <div class="col-md-12 mt-4 mt-md-0">
                  <div class="d-flex flex-column justify-content-end">
                    <!-- <figure>
              <img src="~/assets/img/signup-image.jpg" alt="sing up image" />
            </figure> -->
                    <div class="form-el d-md-flex">
                      <div class="form-row w-100">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="c-label" for="email"
                              ><i class="bi bi-envelope"></i
                            ></label>
                            <input
                              type="email"
                              name="email"
                              id="email"
                              class=""
                              v-model="email"
                              required
                              placeholder="Email"
                            />
                          </div>
                          <div class="form-group">
                            <label class="c-label" for="password"
                              ><i class="bi bi-lock"></i
                            ></label>
                            <input
                              type="password"
                              name="password"
                              id="password"
                              v-model="pswd"
                              required
                              placeholder="Password"
                            />
                          </div>
                          <div class="form-group form-button">
                            <button
                              type="submit"
                              name="signup"
                              id="signup"
                              class="btn btn-md btn-primary"
                              @click.prevent="employeeLogin()"
                            >
                              <div
                                class="spinner-border spinner-border-sm mr-2"
                                v-if="isLoading"
                                role="status"
                              >
                                <span class="sr-only">Loading...</span>
                              </div>
                              Login
                            </button>
                          </div>
                          <NuxtLink to="/register" class="signup-image-link"
                            >Not yet an employee</NuxtLink
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      pswd: "",
      isLoading: false,
    };
  },
  computed: {
    employeeCredential() {
      return {
        email: this.email,
        password: this.pswd,
      };
    },
  },
  methods: {
    resetFields() {
      this.first_name = "";
      this.last_name = "";
    },

    async employeeLogin() {
      this.isLoading = true;

      await this.$auth
        .loginWith("local", {
          data: this.employeeCredential,
        })
        .then(() => {
          this.isLoading = false;
        })
        .catch((err) => {
          console.log(err);
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>