<template>
  <div class="">
    <HomeButton />
    <div class="container cover">
      <div class="row">
        <div class="col-md-12">
          <div class="signup-content px-md-5 container">
            <div class="row">
              <div class="col-md-6">
                <div class="signup-form form-el">
                  <h2 class="form-title text-center text-md-left">Sign up</h2>
                </div>
              </div>
            </div>
            <form @submit.prevent="registerEmployee()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-el">
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="c-label" for="first_name"
                            ><i class="bi bi-person"></i
                          ></label>
                          <input
                            type="text"
                            name="first_name"
                            id="first_name"
                            v-model="first_name"
                            placeholder="First name"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="c-label" for="last_name"
                            ><i class="bi bi-person"></i
                          ></label>
                          <input
                            type="text"
                            name="last_name"
                            id="last_name"
                            v-model="last_name"
                            placeholder="Last name"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row mb-3">
                      <div class="col">
                        <div class="form-check c-radio form-check-inline">
                          <input
                            class="form-check-input c-radio"
                            type="radio"
                            name="gender"
                            id="genderRadioMale"
                            value="M"
                            v-model="gender"
                            checked
                          />
                          <label class="form-check-label" for="genderRadioMale"
                            >Male</label
                          >
                        </div>
                        <div class="form-check c-radio form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gender"
                            id="genderRadioFemale"
                            value="F"
                            v-model="gender"
                          />
                          <label
                            class="form-check-label"
                            for="genderRadioFemale"
                            >Female</label
                          >
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label class="c-label" style="top: 73%" for="dob"
                            ><i class="bi bi-calendar-date"></i
                          ></label>
                          <small>Date of birth</small>
                          <input
                            v-model="date_of_birth.startDate"
                            type="date"
                            name="dob"
                            id="dob"
                            class="mt-2"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label class="c-label" for="department"
                            ><i class="bi bi-person"></i
                          ></label>
                          <input
                            type="text"
                            name="department"
                            id="department"
                            v-model="department"
                            placeholder="Department"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label class="c-label" for="position"
                            ><i class="bi bi-briefcase"></i
                          ></label>
                          <input
                            type="text"
                            name="position"
                            id="position"
                            v-model="position"
                            placeholder="Position"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group">
                          <label
                            class="c-label"
                            style="top: 73%"
                            for="date_employed"
                            ><i class="bi bi-calendar-date"></i
                          ></label>
                          <small>Employment date</small>
                          <input
                            v-model="date_employed.startDate"
                            type="date"
                            name="dob"
                            id="date_employed"
                            class="mt-2"
                            required
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                  <div class="d-flex flex-column justify-content-end">
                    <!-- <figure>
              <img src="~/assets/img/signup-image.jpg" alt="sing up image" />
            </figure> -->
                    <div class="form-el d-md-flex">
                      <div class="form-row w-100">
                        <div class="col-12">
                          <div class="form-group">
                            <label class="c-label" for="email"
                              ><i class="bi bi-envelope"></i
                            ></label>
                            <input
                              type="email"
                              name="email"
                              id="email"
                              class=""
                              v-model="email"
                              placeholder="Email"
                              required
                            />
                          </div>
                          <div class="form-group">
                            <label class="c-label" for="password"
                              ><i class="bi bi-lock"></i
                            ></label>
                            <input
                              type="password"
                              name="password"
                              id="password"
                              v-model="pswd"
                              placeholder="Password"
                              required
                            />
                          </div>
                          <div class="form-group form-button">
                            <button
                              type="submit"
                              name="signup"
                              id="signup"
                              class="btn btn-md btn-primary"
                            >
                              <div
                                class="spinner-border spinner-border-sm mr-2"
                                v-if="isLoading"
                                role="status"
                              >
                                <span class="sr-only">Loading...</span>
                              </div>
                              Register
                            </button>
                          </div>
                          <NuxtLink to="/login" class="signup-image-link"
                            >Already an employee</NuxtLink
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  data() {
    return {
      first_name: "",
      last_name: "",
      gender: "M",
      department: "",
      position: "",
      email: "",
      pswd: "",
      date_of_birth: {
        rate: 0.0,
        surcharge: 0.0,
        startDate: new Date(),
        stopDate: null,
        enabled: true,
      },
      date_employed: {
        rate: 0.0,
        surcharge: 0.0,
        startDate: new Date(),
        stopDate: null,
        enabled: true,
      },
      isLoading: false,
    };
    
  },
  computed: {
    employeeData() {
      let now = new Date();
      return {
        first_name: this.first_name,
        last_name: this.last_name,
        gender: this.gender,
        date_of_birth: this.date_of_birth.startDate,
        date_employed: this.date_employed.startDate,
        department: this.department,
        position: this.position,
        createdAt: now.toLocaleDateString("en-US"),
        access: {
          email: this.email,
          password: this.pswd,
        },
      };
    },
  },
  methods: {
    resetFields() {
      this.first_name = "";
      this.last_name = "";
      this.gender = "M";
      this.department = "";
      this.position = "";
      this.email = "";
      this.pswd = "";
      this.date_of_birth = {
        rate: 0.0,
        surcharge: 0.0,
        startDate: new Date(),
        stopDate: null,
        enabled: true,
      };
      this.date_employed = {
        rate: 0.0,
        surcharge: 0.0,
        startDate: new Date(),
        stopDate: null,
        enabled: true,
      };
    },
    async registerEmployee() {
      this.isLoading = true;
      await this.$axios
        .post("/register", this.employeeData)
        .then((res) => {
          console.log({ status: res.status, msg: res.statusText });
          this.resetFields();
          this.$router.push('/login')
          this.isLoading = false;
        })
        .catch((er) => {
          console.log(er);
          this.isLoading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>